<%= form_with scope: "email_user", url: "/auth/login_user_with_email_and_password", method: :post do |form| %>
  <div class="mb-3">
    <%= form.label :email, "이메일", class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
    <div class="form-text">이메일을 입력하세요</div>
  </div>
  <div class="mb-3">
    <%= form.label :password, "비밀번호", class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
    <div class="form-text">비밀번호를 입력하세요</div>
  </div>
  <%= form.submit "로그인하기", class: "btn btn-primary float-right" %>
<% end %>
