<table class="table">
  <thead>
    <tr>
      <th>상품 ID</th>
      <th>썸네일</th>
      <th>상품명</th>
      <th>판매가</th>
    </tr>
  </thead>
  <tbody>
    <% @my_store_products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.thumbnail_image %>
        </td>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.product_tiers %>
          <ul>
            <% product.product_tiers.each do |tier|%>
              <li><%= tier %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
